.marina {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.dock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slip {
  width: 60px;
  height: 30px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.available { background-color: green; }
.reserved  { background-color: red; }
.confirmed { background-color: blue; }

.colorKey {
	width: 60px;
	height: 30px;
	margin: 5px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
  }

.incompatible {
    background-color: gray !important;
    cursor: not-allowed;
    opacity: 0.5;
}